/* TODO 
    add 
        background color,
        popup size,
        button style,
        bar style?
*/

body {
    background-color: black;
}

#topbar {
    height: 10px
}

#album, #title, #playBar {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#album img {
    border-radius: 2px;
}